*{ box-sizing: border-box; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif }
:root {
    --main_color:#2C3639;
    --color_one: #3F4E4F;
    --color_two: #A27B5C;
    --color_three: #DCD7C9;
}
body{ margin: 0; padding: 0; background-color:var(--main_color); position: relative; }

h1{ color: var(--color_two); text-align: center; }

.tasks_container{
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    padding: 5px 5%;
}

.tasks{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 15px;
}

.task{ 
    background-color: var(--color_three); 
    padding: 10px;
    display: grid;
    grid-template-rows: 4;
}
.task h3{ color: var(--color_two); pointer-events: none; width: 100%; overflow: hidden;margin: 5px 0; }
.task p{ color: var(--color_one); margin-top: 5px; pointer-events: none; align-items:center }

.taskOptions{ display: flex; gap: 10px; grid-row:span 2; align-items:flex-end; }
.taskOptions i{ font-size: 20px; cursor: pointer }

#addTask{
    background-color: var(--color_two);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity linear .3s;
}
#addTask:hover{ opacity: 1 }

/* ---------------- VENTANA MODAL -------------------------- */

.modalWindow{
   background-color: rgba(0,0,0,0.3);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: none;/*flex*/
   justify-content: center;
   align-items: center;
}
.form_modalWindow{
    background-color: var(--color_three);
    width: 400px;
    height: fit-content;
    padding: 10px;
    position: relative;
    transform: scale(0.05);
    transition: transform ease-out .4s;
}
.head_modalWindow{  
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 0 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #000
}
.head_modalWindow h3{ margin: 0 }
#exit_modalWindow{ font-size: 22px; cursor: pointer; color:var(--color_one) }

.form_modalWindow form{display: flex; flex-direction: column; gap: 20px }

.inputContent label{ display: block; margin-bottom: 5px; }
.form_modalWindow form input, .form_modalWindow form textarea{ 
    outline:none; 
    resize: none; 
    width: 80%; 
    padding: 5px 0 5px 2px;
    font-size: 15px;
}
#addTask_buttonForm{ width: 100%; cursor: pointer }

/* .select_modalWindow{ transform: scale(1) } */

.modalWindow_open{ display: flex }
.form_modalWindow_open{ transform: scale(1); }


/* --------------------- MEDIA QUERIES ------------------------ */

@media (max-width:600px) {
    .tasks{ grid-template-columns: 1fr }
}

@media (max-width:420px) {
    .form_modalWindow{ width: 90% }
    .form_modalWindow form input, .form_modalWindow form textarea{ width: 100% }
}

